
html {
    scroll-behavior: smooth;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  

  
  /* Disables selector ring */
  body:not(.user-is-tabbing) button:focus,
  body:not(.user-is-tabbing) input:focus,
  body:not(.user-is-tabbing) select:focus,
  body:not(.user-is-tabbing) textarea:focus {
    outline: none;
  }
  
  /* ########################################################## */
  
  h1 {
    color: white;
  
    font-size: 35px;
    font-weight: 800;
  }
  
  .flex-container {
    width: 100vw;
    height: 100vh;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .content-container {
    width: 500px;
    height: 400px;
  }
  
  .form-container {
    display: flex;
    justify-content: center;
    align-items: center;
  
    width: 500px;
    height: 400px;
  
    margin-top: 5px;
    padding-top: 20px;
  
    border-radius: 12px;
  
    display: flex;
    justify-content: center;
    flex-direction: column;
  
    /* background: #040C18; */
  }
  
  .subtitle {
    font-size: 11px;
  
    color: rgba(177, 177, 177, 0.3);
  }
  
  .data-input {
    border: none;
    border-bottom: solid rgb(143, 143, 143) 1px;
  
    margin-bottom: 30px;
  
    background: none;
    color: rgba(255, 255, 255, 0.555);
  
    height: 35px;
    width: 300px;
  }
  
  
   
    
   